@pagination-themes: primary tblue tred tyellow tgreen;
@pagination-theme-colors: #1890ff #57c8f1 #f36b5f #ffb40d #7ed320;

@pagination-themes-length: length(@pagination-themes);

@pagination-color: #666;
@pagination-disabled-color: #ccc;
@pagination-number-color: extract(@pagination-theme-colors, 3);
@pagination-btn-color: #666;
@pagination-btn-bg-color: #fff;
@pagination-btn-hover-color: #fff;
@pagination-btn-hover-bg-color: extract(@pagination-theme-colors, 3);

.hlrui-pagination {
  font-size: 0;

  .hlrui-pagination-statistics {
    font-size: 14px;
    color: @pagination-color;
    display: inline-block;
    width: 50%;
    text-align: left;
    vertical-align: middle;

    .statistics-number {
      color: @pagination-number-color;
    }

    .pagesize-selector {
      margin: 0 5px;
      width: 100px;
      padding: 0;
    }
  }

  .hlrui-pagination-content {
    display: inline-block;
    width: 50%;
    text-align: right;
    vertical-align: middle;

    .hlrui-pagination-wrap {
      font-size: 0;
      display: inline-block;
      margin: 0;
      vertical-align: middle;

      .btn-pagination {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        text-align: center;
        width: 24px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
        color: @pagination-color;
        vertical-align: middle;

        .hlrui-icon {
          font-size: 18px;
          line-height: 24px;
        }

        &.btn-index {
          cursor: pointer;
          color: @pagination-btn-color;

          &.active,
          &:hover {
            border-radius: 12px;
            background-color: @pagination-btn-hover-bg-color;
            color: @pagination-btn-hover-color;
          }

          &.disabled {
            cursor: not-allowed;

            &.active,
            &:hover {
              border-radius: 0;
              background-color: @pagination-btn-bg-color;
              color: @pagination-color;
              cursor: not-allowed;
            }
          }
        }

        &.btn-previous,
        &.btn-next {
          cursor: pointer;

          &.disabled {
            cursor: not-allowed;
          }
        }

        &.btn-page-expand {
          color: @pagination-color;
          cursor: default;
          pointer-events: none;
        }

        &.disabled {
          color: @pagination-disabled-color;
          cursor: not-allowed;
          pointer-events: none;
        }
      }
    }

    .hlrui-pagination-quick-wrap {
      display: inline-block;
      vertical-align: middle;

      .page-form-control {
        vertical-align: top;
        width: 40px;
        margin-left: 30px;
        padding: 0;
        text-align: center;
      }

      .hlrui-btn-quick {
        vertical-align: top;
        display: inline-block;
        margin-left: 20px;
      }
    }
  }

  &.no-pagesize-selector {
    text-align: right;

    .hlrui-pagination-statistics {
      width: auto;
      text-align: right;
      line-height: 36px;
    }

    .hlrui-pagination-content {
      width: auto;
    }
  }

  .themesLoop(@n, @i: 1) when (@i =< @n) {
    @theme: extract(@pagination-themes, @i);

    @pagination-theme-color: extract(@pagination-theme-colors, @i);

    &.hlrui-pagination-theme-@{theme} {
      .hlrui-pagination-statistics {
        .statistics-number {
          color: @pagination-theme-color;
        }
      }

      .hlrui-pagination-content {
        .hlrui-pagination-wrap {
          .btn-pagination {
            &.btn-index {
              &.active,
              &:hover {
                background-color: @pagination-theme-color;
              }

              &.disabled {
                &.active,
                &:hover {
                  background-color: @pagination-btn-bg-color;
                }
              }
            }
          }
        }
      }
    }

    .themesLoop(@n, (@i + 1));
  }

  .themesLoop(@pagination-themes-length);
}
