@import './mixins/animation';

.html-body {
  min-height: 100%;
  font-family: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", Simsun, sans-self;
  margin: 0 auto;

  a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  #root {
    height: 100%;
  }

  .app-main {
    height: 100%;
    width: 100%;
    padding: 0;
  }

  &.is-fullscreen {
    height: 100%;
  }

  .cp {
    cursor: pointer;
  }

  .hidden {
    display: none !important;
  }

  .show {
    display: block !important;
  }
}

.keyframes(spinning, {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    transform: rotate(359deg);
  }
});

.spinning {
  display: inline-block;
  -webkit-animation: spinning 2s infinite linear;
  -moz-animation: spinning 2s infinite linear;
  -ms-animation: spinning 2s infinite linear;
  -o-animation: spinning 2s infinite linear;
  animation: spinning 2s infinite linear;
}

