@keyframes placeHolderShimmer {
  0% {
    background-position: 100% 0;
  }

  100% {
    background-position: -100% 0;
  }
}

@skeleton-loading-height: 40px;

.hlrui-skeleton-loading {
  animation: placeHolderShimmer 2s infinite linear;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 200% 100%;
  height: @skeleton-loading-height;
  position: relative;
  width: 100%;

  .hlrui-background-masker {
    background-color: #fff;
    position: absolute;

    &.header-top,
    &.header-bottom,
    &.subheader-bottom {
      top: 0;
      left: @skeleton-loading-height;
      right: 0;
      height: 25%;
    }

    &.header-left,
    &.subheader-left,
    &.header-right,
    &.subheader-right {
      top: 25%;
      left: @skeleton-loading-height;
      height: 20%;
      width: @skeleton-loading-height / 4;
    }

    &.header-bottom {
      top: 45%;
      height: 15%;
    }

    &.subheader-left,
    &.subheader-right {
      top: 60%;
      height: 15%;
    }

    &.header-right,
    &.subheader-right {
      width: auto;
      left: @skeleton-loading-height * 7.5;
      right: 0;
    }

    &.subheader-right {
      left: @skeleton-loading-height * 5.75;
    }

    &.subheader-bottom {
      top: 75%;
      height: 25%;
    }

    &.content-top,
    &.content-second-line,
    &.content-third-line,
    &.content-second-end,
    &.content-third-end,
    &.content-first-end {
      top: 100%;
      left: 0;
      right: 0;
      height: 15%;
    }

    &.content-top {
      height: 50%;
    }

    &.content-first-end,
    &.content-second-end,
    &.content-third-end {
      width: auto;
      left: @skeleton-loading-height * 9.5;
      right: 0;
      top: 150%;
      height: 20%;
    }

    &.content-second-line {
      top: 170%;
    }

    &.content-second-end {
      left: @skeleton-loading-height * 10.5;
      top: 185%;
    }

    &.content-third-line {
      top: 205%;
    }

    &.content-third-end {
      left: @skeleton-loading-height * 7.5;
      top: 220%;
    }
  }
}
