@import '../../less/mixins/clearfix';

// login header
@login-header-bg-color: rgba(255, 255, 255, .48);
@login-header-theme-white-bg-color: rgba(0, 0, 0, .48);

// login-body
@login-body-bg-color: rgba(255, 255, 255, .5);
@login-body-shadow-color: #ddd;
@login-body-theme-white-bg-color: rgba(255, 255, 255, .12);

.login-main {
  position: relative;
  min-height: 100%;

  .login-main-header {
    position: relative;
    z-index: 1;
    padding: 5px 20px;
    box-shadow: none;
    // background-color: @login-header-bg-color;
    background-color: @login-header-theme-white-bg-color;

    .logo {
      opacity: .62;

      .logo-image {
        width: 35px;
        height: 35px;
      }
    }
  }

  .login-main-body {
    position: relative;
    z-index: 1;
    padding: 110px 0 144px;
    margin: 0 auto;
    width: 500px;

    .login-main-body-wrap {
      border-radius: 5px;
      width: 100%;
      padding: 25px 55px 120px;
      background-color: @login-body-bg-color;
      box-shadow: 0 0 10px 0 @login-body-shadow-color;
      // background-color: @login-body-theme-white-bg-color;

      .body-wrap-top {
        padding: 75px 0 40px;
        text-align: center;

        .body-wrap-top-header {
          margin-bottom: 12px;

          .top-header-logo {
            display: inline-block;
            vertical-align: top;
            font-size: 0;

            .logo-image {
              width: 40px;
              height: 40px;
            }

            + .top-header-content {
              margin-left: 16px;
            }
          }

          .top-header-content {
            vertical-align: top;
            display: inline-block;
            font-size: 32px;
            font-weight: bold;
            line-height: 40px;
          }
        }

        .body-wrap-top-desc {
          font-size: 14px;
        }
      }
    }
  }

  .login-main-footer {
    z-index: 1;
  }

  .hlrui-form {
    .hlrui-form-item {
      margin-bottom: 15px;
    }
  }

  .login-form {
    .hlrui-form-item {
      margin-bottom: 25px;

      .hlrui-input-affix-wrapper {
        display: block;

        .hlrui-input {
          width: 100%;
        }
      }

      .btn-login {
        width: 100%;
      }

      .hlrui-form-item-control {
        .clearfix()
      }

      .remeber-checkbox {
        vertical-align: middle;
      }

      .register-link,
      .forgot-link {
        line-height: 22px;
        vertical-align: middle;
        float: right;
      }
    }
  }
}
